html, body {
  height: 100%;
  width: 100%;
}

.yellow {
  background-color: goldenrod;
  color: white;
  padding: 8px;
}
.red {
  background-color: red;
  color: white;
}

.text-dark {
  color: black;
}